/* Custom container */
.container-dashboard {
	margin: 0 auto;
	min-width: 1280px;
}
#dashboard { padding: 1em;}
div.graph {width: 400px; height:200px;}
.loading{background:url('../images/loader.gif') center center no-repeat}

.dispTable {display: table;}
.dispTableCell {display: table-cell; vertical-align: top;}
.dashboardCol {padding: 0 1em; border-left: 1px solid #d7d7d7;}
.first.dashboardCol {border-left: 0; padding-left: 0;}
.w400 {width: 400px;}

.panelHeading {
	.panel; .panel-default; .panel-heading; .panel-title;
	// background-color: #004380;
	// border: 0px;
	// color: white;
	padding: 0.5em;
	margin-bottom: 1em;
	// font-weight: bold;
}